
    
    <h1>Giới thiệu về dashboard</h1>
    
    <p>Hệ thống (Phần mềm) Dashboard quản lý dạy và học ngôn ngữ ký hiệu tiếng Việt (Wesign) là một nền tảng hỗ trợ cho người đứng đầu quản lý hoặc giáo viên có thể theo dõi về việc học ngôn ngữ ký hiệu tiếng Việt. Hệ thống cung cấp dữ liệu về người sử dụng, dánh sách lớp học, chủ đề, bài học, danh sách người thực hiện hay đang tiến hành bài học. Phần mềm có thể được dùng trực tiếp từ trình duyệt trên máy tính và trên điện thoại.</p>
    
    <div class="separator"></div>
    
    <p><span class="highlight">Wesign Dashboard</span> hiện tại là phiên bản thử nghiệm. Phần mềm được phát triển bởi nhóm nghiên cứu IBME lab, Đại học Bách Khoa Hà Nội.</p>
    
    <p>Link tải phần mềm học tập trên di động(Android): <a href="#" class="highlight">Tại đây</a></p>
    
    <p>Link tải phần mềm học tập trên di động(iOS): Vui lòng liên hệ IBME Lab</p>
    
    <p>Link phần mềm học tập trên Web: <a href="https://we-sign-app.vercel.app" class="highlight">https://we-sign-app.vercel.app</a></p>
    
    <div class="separator"></div>
    
    <p>Hướng dẫn sử dụng phần mềm hỗ trợ học tập<br>
    <a href="https://bit.ly/wesign_hdsd" class="highlight">https://bit.ly/wesign_hdsd</a></p>
    
    <p>Nếu cần hỗ trợ sử dụng hoặc có góp ý, có thể liên lạc qua <a href="mailto:ibme.lab@gmail.com">ibme.lab@gmail.com</a> hoặc <a style="color: black" href="tel:0912834422">0912834422</a>.<br>
    Xin cảm ơn</p>
    
    <div class="contact-info">
        <p>Nhóm nghiên cứu IBME lab<br>
        Wesign version 1.0 @IBME lab, Đại học Bách Khoa Hà Nội</p>
    </div>
